@charset "EUC-KR";
table{
	margin-left: auto;	margin-right: auto;
	width: 400px;
	background-color: #2E7D32;	color:white;
	border-spacing: 0px;
}
th{
	font-size: 40pt;	height: 100px;
}
td{
	padding:15px;	background-color: #795548;
}
input {
	border:white solid 3px;
	background-color: transparent;	color:white;
	font-size: 20pt;	width:80%;	height:60px;
	text-align: center;	outline:none;	font-weight: 900;
}
input::placeholder{
	color:#CFD8DC;
}
button{
	border:none;		background-color: transparent;
	font-size: 25pt;	font-weight: 900;
	color:white;
}
#resultTd{
	background-color: #546E7A;	border:orange solid 5px;
	font-size: 25pt;			padding: 30px;
}