@charset "EUC-KR";
table{
	margin-left: auto;			margin-right: auto;
	width: 500px;
	background-color: #EF6C00;	color:white;
	border-spacing: 0px;		font-weight: 900;
}
th{
	font-size: 20pt;			height: 50px;
}
.subTitle{
	background-color: #FFA726;	color:black;
}
img{
	width: 130px;				height:130px;
}
.line{
	background-color:#FFE0B2;	height: 3px;
}
.result{
	background-color: #EF6C00;
	font-size: 16pt;
}